html, body {
  margin: 0;
  padding: 0;
}

nav {
  height: 55px; 
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: calc(100vh - 55px);
}

#alertPlaceholder {
  z-index: 1001;  /* Встановлюємо високий z-index */
}
