html, body {
  margin: 0;
  padding: 0;
}



nav {
  height: 10vh; /* Висота вашої навігаційної панелі */
}

#map {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 90vh  
}



#alertPlaceholder {
  z-index: 1001;  /* Встановлюємо високий z-index */
  /* width: 80%; */
  /* max-width: 400px; */
}

/* #countrySelect {
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ced4da;
} */